body {
  font-family: 'Comfortaa', cursive;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  font-size: 200%;
}

a:link, a:visited {
  color: salmon;
}

@media  screen and (max-width: 600px) {
  .nav-item {
    font-size: 100%;
  }
}